*{
    font-family: 'Cairo', sans-serif;
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
height: 100vh;
background-color: rgb(29, 29, 29);
display: flex;
flex-direction: column;
align-items: center;
overflow-x: hidden;
}

header{
    background-color: rgb(26, 26, 26);
    width: 100%;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo a img{
    top: -8px;
    right: 0;
        height: 70px;
        padding: 10px;
        position: static;
    }

.logo{

    padding: 0px 70px;
}  
.nav-bar{

}
.nav-bar li{
    list-style: none;
    display: inline-block;
    height: 20px;
    position: relative;
}

.nav-bar li a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px 20px;
    margin: 10px;
    transition: 0.3s;
    border-style: hidden;


}
.nav-bar{
    padding-left: 90px;
}

.nav-bar li a:hover{
    background-color: rgb(153, 4, 190);
    border-radius: 10px;
}
@keyframes slide{
    from {
       transform: translateX(0);
    }

    to {
        transform: translateX(-100%);


    }
}

.slider{
    overflow: hidden;
    padding: 50px 0px;
    white-space: nowrap;
    position: relative;
    
}
.slides{
    display: inline-block;
    animation: 25s slide infinite linear;
}
.slider:hover .slides{ 
    animation-play-state: paused;
}
.slides img{
    height: 430px;
    width: 700px;
    margin: 0 10px;
    transition: 1s;
    border-radius: 100px;

}
.slides img:hover{
    height: 470px;
    width: 740px;

}
.logo2{
    display: none;
}
.mobile-section{
    display: none;
}
.burger {
    left: 20px;
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }
@media screen and (max-width: 885px) {
    .nav-bar{
     display: none;
    }
    .logo{
     display: none;
    }
    .mobile-section{
        display: contents;
    }
    .logo2{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
    }
    .logo2 img{
    height: 50px;
    display: flex;
    transition: 1s;
    }
    .logo2 a{
        text-decoration: none;
        color: aliceblue;
        font-size: 25px;
        font-size: bold;
        transition: 1s;
    }
    .logo2:hover a{
        font-size: 35px;
    }
    .logo2:hover img{
        height: 60px;
    }
    .logo2 a span{
        color: rgb(131, 4, 143);
    }
    
}